<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Admin Dashboard Test</h1>
        </div>
    </div>
    <div class="row">
        <div class="log">
            <div class="col-6">

            </div>
        </div>
    </div>
</div>

<%- contentFor('pagescripts') %>
