<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Admin Dashboard Test</h1>
        </div>
    </div>
    <div class="row">
        <div class="log">
            <div class="col-6">
                <% //for(var i=0; i<gitLog.length; i++) {%>
                    <p></p>
                <% //} %>
            </div>
        </div>
    </div>
</div>

<%- contentFor('pagescripts') %>
