html, body {

}

html {
  font-size: 16px;
}

body {
  font-family: $text;
}

h1, h2, h3, h4, h5 {
  font-family: $headers;
}

h1 {
  margin-bottom: 40px;
}

p {

}

a {
  color: #636b6f;
  font-weight: 600;
  text-decoration: none;

  &:hover, &:active, &:visited {
    text-decoration: none;
    color: #636b6f;
  }

  &:hover {

  }

  &.nav-item.active {
    color: #9d1723;
  }
}

main {
  padding-top: 100px;
}