<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="copy">&copy; <%= new Date().getFullYear() %> <%= config.siteName %>.  Digital Marketing by <a href="https://www.practicecafe.com" target="_blank">Practice Cafe</a>.</p>
        </div>
    </div>
</div>