<footer class="py-3 bg-dark site-footer">
    <div class="container">
        <p class="m-0 text-left text-white">&copy; <%= new Date().getFullYear() %> <%= global.gConfig.siteName %>.</p>
    </div>
</footer>