<header class="header">
    <nav class="top-right links">
        <a class="nav-item home" href="/">Home</a>
        <a class="nav-item example" href="/example">Example Page</a>
        <a class="nav-item blog" href="/blog">Blog</a>
    </nav>
</header>