<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= config.siteName %> | <%= config.siteTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include('global/header'); %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to Pantry.</h1>
            <p>Pantry is a CMS made for Front End Developers.  It's written entirely with Javascript and is powered by a single, flat-file database.  Yep, you can push your database to git!  Pantry's speed comes from being able to generate static files to serve on the fly.  When you create or update posts and pages, these cache resources are handled for you.  This with the benefit of built-in compression help make one fast website.</p>
            <p>We are still in early development, but look forward to making Pantry great.</p>
            <pre><code>shown from: views/home.ejs</code></pre>
        </div>
    </div>
</div>
<%- include('global/footer'); %>
<script src="/js/main.js"></script>
</body>
</html>