<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= config.siteName %> | <%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include('global/header'); %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Pantry</h1>
        </div>
    </div>
</div>
<%- include('global/footer'); %>
<script src="/js/main.js"></script>
</body>
</html>