<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= global.gConfig.siteName %> | <%= global.gConfig.siteTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        html, body {
            color: #9d1723;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }

        body {
            background-color:#ffffff;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 90px;
            font-family: 'Pacifico', cursive;
        }

        .m-b-md {
            margin-bottom: 30px;
        }

        #rotate-words {
            max-width:400px;
            margin:auto;
            padding:20% 0;
            font-size:2.2em;
            text-transform:uppercase;
        }

        #rotate-words span {
            display:block;
            height:50px;
            font-size:.7em;
            text-transform:lowercase;
            opacity:.8;
        }

        #rotate-words div {
            position:absolute;
            opacity:0;
            overflow:hidden;
            left:10vw;
            width:80vw;
            line-height:1.2em;
            animation: rotate-word 20s linear normal 0s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            color: #000000;
            font-size: 30px;
        }

        #rotate-words div.last {
            animation-name: rotate-word-last;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        @keyframes rotate-word {
            0% { opacity: 0;}
            3% { opacity: 1;}
            12% { opacity: 1;}
            14% { opacity: 0;}
            80% { opacity: 0}
            100% { opacity: 0}
        }

        @keyframes rotate-word-last {
            from { opacity: 0;  transform: translateX(0);filter:blur(5px);transform:scale(1)}
            to { opacity: 1; transform: translateX(0);filter:blur(0px);transform:scale(1)}
        }

        #rotate-words div:nth-child(2) { animation-delay: 2s}
        #rotate-words div:nth-child(3) { animation-delay: 2s}
        #rotate-words div:nth-child(4) { animation-delay: 12s}
        #rotate-words div:nth-child(5) { animation-delay: 16s}
        #rotate-words div:nth-child(6) { animation-delay: 20s}
        #rotate-words div:nth-child(7) { animation-delay: 24s}
        #rotate-words div:nth-child(8) { animation-delay: 28s}
    </style>
</head>
<body class="page page-home">
<div class="flex-center position-ref full-height">
    <%- include('global/header'); %>

    <div class="content">
        <div class="title m-b-md">
            Pantry
        </div>

        <div class="description">
            <div id="rotate-words">
                <div>A Web Development Framework<br />  <span>Powered by Javascript</span></div>
                <div class="last"><br />  <span>v. 1.0.0</span></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/custom.js"></script>
</body>
</html>